bin/
obj/
.vs/
TestResults/
*.user
*.suo
artifacts/

/BenchmarkDotNet.Artifacts/results/SnapData.Benchmarks.BufferedQueryBenchmarks-report-github.md
/BenchmarkDotNet.Artifacts/results/SnapData.Benchmarks.BufferedQueryBenchmarks-report.csv
/BenchmarkDotNet.Artifacts/results/SnapData.Benchmarks.BufferedQueryBenchmarks-report.html
/BenchmarkDotNet.Artifacts/results/SnapData.Benchmarks.CommandBenchmarks-report-github.md
/BenchmarkDotNet.Artifacts/results/SnapData.Benchmarks.CommandBenchmarks-report.csv
/BenchmarkDotNet.Artifacts/results/SnapData.Benchmarks.CommandBenchmarks-report.html
/BenchmarkDotNet.Artifacts/results/SnapData.Benchmarks.SingleQueryBenchmarks-report-github.md
/BenchmarkDotNet.Artifacts/results/SnapData.Benchmarks.SingleQueryBenchmarks-report.csv
/BenchmarkDotNet.Artifacts/results/SnapData.Benchmarks.SingleQueryBenchmarks-report.html
/BenchmarkDotNet.Artifacts/BenchmarkRun-20260809-022509.log
/BenchmarkDotNet.Artifacts/BenchmarkRun-20260810-131718.log
/BenchmarkDotNet.Artifacts/SnapData.Benchmarks.BufferedQueryBenchmarks-20260810-140008.log
/BenchmarkDotNet.Artifacts/SnapData.Benchmarks.BufferedQueryBenchmarks-20260810-140024.log
/BenchmarkDotNet.Artifacts/SnapData.Benchmarks.BufferedQueryBenchmarks-20260810-140112.log
/BenchmarkDotNet.Artifacts/SnapData.Benchmarks.BufferedQueryBenchmarks-20260810-140152.log
/BenchmarkDotNet.Artifacts/SnapData.Benchmarks.BufferedQueryBenchmarks-20260810-140445.log
/BenchmarkDotNet.Artifacts/
/.idea
